<div class="fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full" id="modal">
  <div class="relative top-20 mx-auto p-6 border w-96 shadow-lg rounded-md bg-white">
    <h3 class="text-lg font-semibold mb-4">Registrar Pago Predeterminado</h3>
  
    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="paymentName" class="block text-sm font-medium text-gray-700">Nombre del Pago</label>
        <select defaultPaymentName="defaultPaymentName" id="paymentName" (change)="onPaymentNameChange($event)"  class="w-full mt-1 p-2 border rounded">
          <option *ngFor="let product of products" [value]="product.name">{{ product.name }}</option>
        </select>
      </div>
      
      <div class="mb-4" *ngIf="isMemberSelected">
        <label for="associate" class="block text-sm font-medium text-gray-700">Asociados</label>
        <select formControlName="selectedAssociation" id="associate" class="w-full mt-1 p-2 border rounded">
          <option [value]="associateData.id">Socio Principal</option>
          <option *ngFor="let member of associateData.associates" [value]="member.id">{{ member.firstName }} - {{ member.relationship }}</option>
        </select>
      </div>
  
      <div class="mb-4">
        <label class="block font-medium text-gray-700">Monto</label>
        <input
          type="number"
          formControlName="amount"
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring focus:ring-indigo-200 focus:border-indigo-300"
        />
        <div *ngIf="paymentForm.get('amount')?.invalid && paymentForm.get('amount')?.touched" class="text-red-500 text-sm mt-1">
          El monto debe ser mayor a 0
        </div>
      </div>
  
      <button
        type="submit"
        class="px-4 py-2 bg-blue-500 text-white font-semibold rounded shadow-md hover:bg-blue-600"
        [disabled]="paymentForm.invalid"
      >
        Registrar Pago
      </button>
    </form>
    <div class="flex justify-end mt-6">
      <button (click)="closeModal()" class="px-4 py-2 bg-red-500 text-white rounded-md shadow-md hover:bg-red-600">
        Cerrar
      </button>
    </div>
  </div>

</div>
  