<div class="w-full h-screen bg-white">
    <div class="flex">
      <h1 class="text-3xl font-bold mb-4 w-full">Pagos</h1>
    </div>
  
    <div class="flex">
      <div class="mr-16 w-full">
        <div class="mb-4">
          <div class="mb-2">
            <label for="location" class="mr-4">Socio:</label>
            <input type="text" [(ngModel)]="associateId" class="p-2 rounded border mr-4">
            <button (click)="searchAssociate()" class="py-2 px-4 bg-blue-500 text-white rounded-lg">Buscar</button>
  
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="associateFound" class="mt-4">
      <div class="p-6 bg-white shadow-md rounded-lg border border-gray-200">
        <div class="mb-2">
          <span class="font-bold">ID:</span> {{ associateData?.id }}
        </div>
        <div class="mb-2">
          <span class="font-bold">Nombre:</span> {{ associateData?.firstName }} {{ associateData?.lastName }}
        </div>
        <div class="mb-2">
          <span class="font-bold">Email:</span> {{ associateData?.email }}
        </div>
        <div class="mb-2">
          <span class="font-bold">Teléfono:</span> {{ associateData?.mobileNumber }}
        </div>
        <div class="mb-2">
          <span class="font-bold">Balance Actual:</span> {{ totalSavings| currency }}
        </div>
      </div>
    </div>

    <div *ngIf="paymentsActivated" class="mb-4 mt-8">
      <label for="paymentDate" class="block text-sm font-medium text-gray-700">Fecha del pago:</label>
      <input [(ngModel)]="paymentDate" id="paymentDate" type="date" class="mt-1 p-2 border rounded-md" />
    </div>
  
    <div *ngIf="paymentsActivated" class="overflow-x-auto mt-8">
      <table class="w-full border-collapse border border-gray-300">
        <thead>
          <tr class="bg-gray-200">
            <th class="border-y border-gray-100 bg-gray-50/50 p-2">Tipo de pago</th>
            <th class="border-y border-gray-100 bg-gray-50/50 p-2">Monto</th>
            <th class="border-y border-gray-100 bg-gray-50/50 p-2">Total</th>
            <th class="border-y border-gray-100 bg-gray-50/50 p-2">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let payment of defaultPayments; let i = index">
            
            <td class="border border-gray-300 px-4 py-2">
              <select [(ngModel)]="payment.paymentTitle" (change)="updateHourlyRates()" class="p-2 rounded border bg-white">
                <option *ngFor="let type of paymentTypes" [value]="type">{{ type }}</option>
              </select>
             
            </td>
            <td class="border border-gray-300 px-4 py-2">
              <input type="number" [(ngModel)]="payment.hourlyRate" (change)="updateHourlyRates()"  class="p-2 rounded border">
            </td>
  
            <td class="border border-gray-300 px-4 py-2">
              {{ payment.totalCost | currency }}
            </td>
            <td class="border border-gray-300 px-4 py-2">
              <button (click)="removeAttendee(i)" class="text-red-600">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <div *ngIf="paymentsActivated" class="mt-8">
      <button (click)="addAttendee()" class="py-2 px-4 bg-blue-500 text-white rounded-lg">Agregar pago</button>
    </div>
  
    <div *ngIf="paymentsActivated" class="mt-8">
      <p>Total: {{ meetingTotal | currency }}</p>
  
    </div>

    <div *ngIf="paymentsActivated" class="mt-8">
        <button (click)="registerPayments()" class="py-2 px-4 bg-green-500 text-white rounded-lg mr-4">Guardar pagos</button>
        <button (click)="openReceiptModal()" class="py-2 px-4 bg-red-500 text-white rounded-lg">Generar Recibo PDF</button>
      </div>
  </div>


  <!-- Modal para ver los detalles del recibo de pago -->
  <div *ngIf="showReceiptModal" class="fixed inset-0 flex items-center justify-center z-50">
    <div class="bg-white w-1/2 rounded-lg shadow-lg p-8">
    
      <!-- Usamos el componente PaymentReceiptComponent en lugar del HTML directamente -->
      <app-payment-receipt 
        [associateData]="associateData" 
        [defaultPayments]="defaultPayments" 
        [totalAmount]="totalSavings"
        [total]="meetingTotal" 
        [currentDate]="currentDate">
      </app-payment-receipt>
  
      <!-- Botones del modal -->
      <div class="mt-6 flex justify-end space-x-4 ">
        <button class="py-2 px-4 bg-gray-500 text-white rounded-lg mr-4" (click)="closeModal()">Cerrar</button>
        <button class="py-2 px-4 bg-green-500 text-white rounded-lg" (click)="generatePDF()">Imprimir Recibo</button>
      </div>
    </div>
  </div>