<div id="printSection" class="receipt-container">
  <div class="text-center mb-2">
    <h2 class="font-bold text-lg">Recibo de Pago</h2>
    <p>{{ currentDate | date: 'dd/MM/yy' }}</p>
  </div>

  <div style="margin: 0 5px;"> <!-- Añadimos margen horizontal -->
    <p class="mb-1"><strong>Nombre:</strong> {{ associateData?.firstName }} {{ associateData?.lastName }}</p>
    <p class="mb-1"><strong>Teléfono:</strong> {{ associateData?.mobileNumber }}</p>
    <p class="mb-1"><strong>Email:</strong> <span style="text-decoration: none;">{{ associateData?.email }}</span></p>
  </div>
  <hr class="my-1" style="margin: 5px 0;" /> <!-- Espaciado pequeño para la línea -->

  <table>
    <thead>
      <tr>
        <th>Tipo de Pago</th>
        <th class="text-right">Monto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of defaultPayments">
        <td>{{ payment.paymentTitle }}</td>
        <td class="text-right">{{ payment.hourlyRate | currency }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td><strong>Total:</strong></td>
        <td class="text-right font-bold"><strong>{{ total | currency }}</strong></td>
      </tr>
    </tfoot>
  </table>

  <div class="text-center  mt-4">
    <p>Gracias por su pago</p>
    <hr class="border-t border-gray-400 mt-2" />
  </div>
</div>
